/* Error: Undefined variable.
 *    ,
 * 14 | background-image: url('../img/#{$img}')
 *    |                                 ^^^^
 *    '
 *   sass\_mixins.sass 14:33  @use
 *   sass\styles.sass 2:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 14 \2502  background-image: url('../img/#{$img}')\d\a    \2502                                  ^^^^\a    \2575 \a   sass\\_mixins.sass 14:33  @use\a   sass\\styles.sass 2:1     root stylesheet";
}
